
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
   
 }.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
         
.sub-container{
    width: 100%;
}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    text-align: center;
    color: #ffffff;
}
.back-button {
    
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


/* Header styling */
.header {
    background-color: #5CB338;
    color: rgb(233, 233, 233);
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

.header button {
    background-color: #213555;
    padding-right: 12px;
}

input, select, button ,textarea{
    width: 100%;
    padding: 12px 0 12px 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    background: #5CB338;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

button:hover {
    background: #3A7D44;
}
